body
{
	background-color:#E0DFDE;
}

/* Padding for dropdown menus */
/*    used by: grade, credits */
th.padClassHeader
{
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
}

th.padGradeHeader
{
	padding-left:15px;
}

th.padCreditsHeader
{

}

/* Padding for dropdown menus */
/*    used by: grade, credits */
td.padGrade
{
	padding-left:15px;
	padding-right:10px;
	padding-bottom:5px;
}

td.padCredits
{
	padding-left:10px;
	padding-right:10px;
	padding-bottom:5px;
}

td.padClass
{
	padding-right:10px;
	padding-bottom:5px;
}

.well 
{
	padding: 5 5 5 5;
	font-size:20px;
	background-color:#C4C4C4;
	height:60px;
	width:80px;
}


